

.varios{
    height: 90%;
    width: 90%;
     display: grid;
     grid-template-columns:repeat(3, 1fr);
     gap: 20px;
     margin: 20px;    
    
    }
.caja{    
    
     border-radius: 5px;
     border: 4cap rgb(86, 99, 112);
    /* background-color: rgb(234, 114, 114);*/
     font-size: medium;
     font-style: initial;
     text-align: center;
   
   }

  
   