.datos{
  height: 100%;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
   .temp1{
    
    margin-left: 18px;
    border-radius: 5px;
    border: 4cap rgb(43, 95, 147);
    background-color: rgb(241, 134, 95);
    font-size: small;
    font-style: initial;
    text-align: center;
    font-size: large;

   }
  .temp2{
    
    margin-left: 18px;
    border-radius: 5px;
    border: 4cap rgb(43, 95, 147);
    background-color: rgb(129, 175, 197);
    font-size: small;
    font-style: initial;
    text-align: center;
    font-size: large;

  }