
.linea{
    align-items:flex-start;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(226, 197, 166);
}

.destino{
    align-items:flex-start;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(243, 97, 78);

}

.dark-mode.linea {
    align-items:flex-start;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgba(65, 60, 60, 0.798);
    color: #fff; 
  }
  
  .dark-mode.destino {
    align-items:flex-start;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color:  rgb(78, 12, 3);;
    color: #fff;
  }
  
