.app{
 
 background-color: brown;
 
}
.contenedor{
  height: 100vh;
  width: 100vw; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:grid;
  grid-template-columns:  1fr 1fr;
 
}

.transporte{
  text-shadow: 1px 1px 2px pink;
  background-color: rgba(205, 192, 192, 0.798);
  margin-right: 8px;
  text-align: center;
  font-size: larger;
  
}
.clima {
  background-color: rgb(88, 168, 224);
   margin: 0 px;
  text-shadow: 1px 1px 2px pink; 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
 /* animation-name: cambio-color; 
  animation-duration: 5s;
  animation-timing-function: linear; 
  animation-iteration-count: infinite; */

}
 /* @keyframes cambio-color {
      0% {
          background-color: rgb(80, 172, 238) ;
      }
      50% {
          background-color: rgb(74, 162, 225);
      }
      100% {
          background-color: rgb(68, 141, 193);
      }
  } */
      


.termometro-container {   
  display:flex;
  align-items: center;
  height: 95%;
  
  
}

.leaflet-container {
  width: 50vw; 
  height: 85vh;
  align-items:flex-start;
}


.dark-mode {
  background-color: #333; 
  color: #fff; 
}

.dark-mode.app {
  background-color: #222; 
  color: #fff;
}
.dark-mode.transporte {
  background-color: rgba(65, 60, 60, 0.798); 
  color: #fff; 
  text-shadow: 1px 1px 2px rgb(12, 12, 12); 
   margin-right: 8px;
  text-align: center;
  font-size: larger;
}

.dark-mode.clima {
  background-color: rgb(34, 64, 85); 
  color: #fff; 
  text-shadow: 1px 1px 2px rgb(12, 12, 12); 
  /*animation-name: cambio-color; 
  animation-duration: 5s;
  animation-timing-function: linear; 
  animation-iteration-count: infinite; */

}
  /*@keyframes cambio-color {
      0% {
          background-color: rgb(34, 64, 85) ;
      }
      50% {
          background-color: rgb(26, 52, 71);
      }
      100% {
          background-color: rgb(2, 39, 65);
      }
}*/

.dark-mode.leaflet-container {
  background-color: #685a5a; 
  color: #fff; 
}




