
.contenedor{
  height: 100vh;
  width: 100vw; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:grid;
  grid-template-columns:  1fr 1fr;
  
}

.transporte{
  background-color: rgb(170, 161, 161);
  margin-right: 8px;
}
.clima{
  
  background-color: rgb(113, 230, 230);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;

}

